#currency-bar {
    background-color: var(--card);
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.2rem;
    padding: 0.3rem;
}

.currency-count {
    background-color: var(--card2);
    width: 100%;
    height: 1.4rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: .8rem;
}

.flag-count-symbol {
    width: .5rem;
    margin-left: .8rem;
}

#energy-icon-count-symbol {
    font-size: 1rem;
    margin-left: .4rem;
    color: var(--foreground);
}

.flag-count-display {
    margin: 0;
    line-height: 0;
}

#white-flag-count {
    line-height: 0;
}