#energy-tab {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--card);
    border-radius: 1rem;
}

#energy-tab-content {
    display: flex;
    width: calc(100% - 2rem);
    height: 80%;
    margin-bottom: 1rem;
    gap: 1rem;
}

#energy-upgrades-tab {
    width: 100%;
    height: 80%;
    background-color: #424456;
    border-radius: 1rem;
    overflow: hidden;
    scrollbar-width: 0;
    min-height: 0;
}

#energy-tab-right {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#energy-tab-info {
    width: 100%;
    height: 30%;
    background-color: var(--card3);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.energy-info-text {
    margin: 0;
    font-size: 0.75rem;
    margin-left: .3rem;
}

#energy-tab-energy-count {
    background-color: var(--card2);
    padding: 0.1rem 1rem 0.3rem 1rem;
    border-radius: 0 0 100% 100%;
    display: flex;
    gap: .4rem;
    align-items: center;
}

#energy-tab-energy-icon-symbol {
    font-size: 1rem;
}

#energy-tab-energy-count-display {
    margin: 0;
}

#wheel {
    width: 9rem;
}