#flag-tab-top {
    width: calc(100% - 1rem);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#flag-tab {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--card);
    border-radius: 1rem;
    overflow: hidden;
}

#flag-progress-bars {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1.7rem;
}

#capture-progress {
    width: 100%;
    height: .2rem;
    background-color: var(--capture-progress);
}

#flag-tab-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    width: 100%;
    height: 100%;
}

#flag-tab-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#system-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    width: 13rem;
    height: 70%;
    background-color: var(--card2);
    border-radius: 1rem; 
}

#system-info-data {
    margin-bottom: .5rem;
    font-size: .95rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: .5rem;

}


.system-info-layer {
    margin: 0;
}

.system-info-p {
    margin: 0;
}

#white-flag-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#overclock-btn {
    width: 80%;
    height: 2rem;
    border: none;
    background-color: var(--card2);
    color: var(--foreground);
    font-size: 1.3rem;
    border-radius: 1rem;
    margin-bottom: 0.5rem;
}

#overclock-cooldown-progress {
    border: none;
    height: 1.5rem;
    width: 100%;
}

.overclock-cooldown-base {
    background-color: var(--cooldown-progress-ascending);
}

.cooldown-progress-descending {
    background-color: var(--cooldown-progress-descending);
}

.overclocked-info-indicator {
    color: var(--overclock-ccp-indicator);
}