.upgrade-tab {
    min-height: 0;
    overflow: auto;
    background-color: var(--card);
    border-radius: 1rem;
    scrollbar-width: none; 
}

.upgrade {
    margin: .4rem;
    background-color: var(--card2);
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
}

.general-upgrade {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upgrade-titledesc-wrapper {
    width: 100%;
}


.upgrade-title {
    margin: .4rem 0 0 .4rem;
    color: var(--foreground);
}

.upgrade-description {
    margin: .4rem; 
    font-size: .8rem;
}

.upgrade-information {
    margin-bottom: .4rem;
}

.upgrade-information-p {
    line-height: 1;
    font-size: 0.85rem;
    margin: 0;
    margin-left: .4rem;
}

.upgrade-buttons-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .2rem;
}

.upgrade-buttons-2-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: .2rem;
}

.upgrade-info-button {
    position: absolute;
    right: .5rem;
    top: .5rem;
    font-size: 1rem;
}

.upgrade-buttons {
    display: flex;
    gap: .5rem;
    margin-left: .5rem;
    margin-right: .5rem;
    align-items: end;
    margin-bottom: .5rem;
}

.upgrade-quantity-button {
    height: 1.5rem;
    width: 2rem;
    min-width: 1.75rem;
    border-radius: .5rem;
    background-color: var(--card2-1);
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upgrade-quantity-input {
    height: 1.5rem;
    width: 3rem;
    min-width: 3rem;
    padding: 0;
    font-size: .7rem;
    text-align: center;
    border-radius: .5rem;
    background-color: var(--card2-1);
    color: var(--foreground);
}

.upgrade-quantity-button-next {
    height: 1.5rem;
    width: 3rem;
    min-width: 3rem;
    background-color: var(--card2-1);
    text-align: center;
    font-size: .7rem;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upgrade-buy {
    width: 100%;
    height: 2.5rem;
    border-radius: .5rem;
    background-color: var(--card2-1);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.general-upgrade-buy {
    width: 7rem;
    margin: 0 0 .5rem 0;
}

.upgrade-progress {
    height: 1rem;
    position: relative;
}

.energy-upgrade-progress {
    background-color: var(--energy-progress-unfilled);
}

.automation-upgrade-progress {
    background-color: var(--automation-progress-unfilled);
}

.upgrade-progress-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .4rem;
}

.upgrade-progress-indicator {
    height: 100%;
    width: 0%;
}

.upgrade-progress-value {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: .8rem;
}

.upgrade-progress-value-in {
    font-size: .8rem;
}

.upgrade-progress-time {
    position: absolute;
    top: 50%;
    right: .5rem;
    transform: translateY(-50%);
    font-size: .7rem;
}

.energy-upgrade-progress-indicator {
    background-color: var(--energy-progress-filled);
}

.automation-upgrade-progress-indicator {
    background-color: var(--automation-progress-filled);
}

.energy-upgrade-progress-value, .energy-upgrade-progress-value-in, .energy-upgrade-progress-time {
    color: var(--energy-progress-text);
}

.energy-upgrade-progress-symbol {
    font-size: .75rem;
}

.automation-upgrade-progress-value, .automation-upgrade-progress-time {
    color: var(--automation-progress-text);
}

.upgrade-level {
    height: .25rem;
    background-color: var(--upgrade-level-unfilled);
}

.upgrade-level-indicator {
    height: 100%;
    width: 0%;
    background-color: var(--upgrade-level-filled);
}

.upgrade-buy-indicator {
    font-size: 0.85rem;
    line-height: 0;
    margin: 0;
}

.upgrade-buy-cost-container {
    display: flex;
    gap: .2rem;
    align-items: center;
    justify-content: center;
}

.upgrade-buy-cost {
    font-size: 0.7rem;
    line-height: 0;
    margin: 0;
}

.upgrade-buy-cost-flag {
    width: .4rem;
}

.radio-card input:checked + .upgrade-quantity-button, 
.radio-card input:checked + .upgrade-quantity-button-next {
    background-color: var(--card2-1-selected);
}

.selected-quantity {
    background-color: var(--card2-1-selected);
}