html {
    height: 100%;
    font-family: 'JetBrains Mono';
    margin: 0;
}

body {
    margin: 0;
    min-height: 100vh;
    max-height: 100vh;
    height: 100%;
    user-select: none;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: var(--background);
}

input,
button,
select,
textarea {
  appearance: none;           
  -webkit-appearance: none;
  -moz-appearance: none;

  box-sizing: border-box;
  border: none;

  font: inherit;           
  font-size: 1rem;

  min-height: unset;
  height: auto;
}

.text {
    color: var(--foreground);
    font-family: 'JetBrains Mono';
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

#title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: span 2;
}

#title {
    line-height: 0;
    color: var(--foreground);
}

main {
    display: grid;
    grid-template-columns: 34fr 19fr 19fr 19fr 5fr;
    grid-template-rows: 1fr 10fr;
    flex: 1 1 auto;
    min-height: 0;
    margin: 1rem;
    column-gap: 1rem;
    row-gap: 1rem;
}

#flag-energy {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.material-symbols-outlined {
    color: var(--foreground);
}

#username-container {
    background-color: var(--card);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#username {
    margin: 0rem;
    margin-left: 1rem;
    font-size: 1.2rem;
}

#profile-icon {
    margin-right: 1rem;
    font-size: 2.3rem;
}

#settings-container {
    background-color: var(--card);
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#settings-icon {
    font-size: 2.3rem;
}
