html {
    height: 100%;
    font-family: 'JetBrains Mono';
    margin: 0;
}

body {
    margin: 0;
    min-height: 100vh;
    max-height: 100vh;
    height: 100%;
    user-select: none;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: var(--background);
}

.text {
    color: var(--foreground);
    font-family: 'JetBrains Mono';
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

#title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: span 2;
}

#title {
    line-height: 0;
    color: var(--foreground);
}

main {
    display: grid;
    grid-template-columns: 34fr 19fr 19fr 19fr 5fr;
    grid-template-rows: 1fr 10fr;
    flex: 1 1 auto;
    min-height: 0;
    margin: 1rem;
    column-gap: 2rem;
    row-gap: 1rem;
}

#flag-energy {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#flag-tab-top {
    width: calc(100% - 1rem);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#white-flag-count {
    line-height: 0;
}


#flag-tab {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--card);
    border-radius: 1rem;
    overflow: hidden;
}

#flag-progress-bars {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1.7rem;
}

#capture-progress {
    width: 100%;
    height: .2rem;
    background-color: var(--capture-progress);
}

#flag-tab-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    width: 100%;
    height: 100%;
}

#flag-tab-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#system-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 70%;
    background-color: var(--card2);
    border-radius: 1rem; 
}

#system-info-data {
    margin-bottom: .5rem;
    font-size: .95rem;
}

.system-info-layer {
    margin: 0;
}

.system-info-p {
    margin: 0;
}

#white-flag-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#overclock-btn {
    width: 80%;
    height: 2rem;
    border: none;
    background-color: var(--card2);
    color: var(--foreground);
    font-size: 1.3rem;
    border-radius: 1rem;
    margin-bottom: 0.5rem;
}

#overclock-cooldown-progress {
    border: none;
    background-color: rgb(0, 171, 0);
    height: 1.5rem;
    width: 100%;

}

#energy-tab {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--card);
    border-radius: 1rem;
}

#energy-tab-content {
    display: flex;
    width: calc(100% - 2rem);
    height: 80%;
    margin-bottom: 1rem;
    gap: 1rem;
}

#energy-upgrades {
    width: 100%;
    height: 100%;
    background-color: #424456;
    border-radius: 1rem;
}

#energy-tab-right {
    width: 100%;
    height: 100%;
}

#energy-tab-info {
    width: 100%;
    height: 30%;
    background-color: var(--card3);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.energy-info-text {
    margin: 0;
    font-size: 0.75rem;
    margin-left: .3rem;
}

#energy-tab-energy-count {
    background-color: var(--card2);
    padding: 0.1rem 1rem 0.3rem 1rem;
    border-radius: 0 0 100% 100%;
}

#energy-tab-energy-count-display {
    margin: 0;
}


.upgrade-tab {
    min-height: 0;
    overflow: auto;
    background-color: var(--card);
    border-radius: 1rem;
    scrollbar-width: none; 
}

.upgrade {
    height: 6rem;
    margin: .4rem;
}

#layer-tab {
    background-color: var(--card);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.layer-btn {
    background-color: var(--card2);
    width: 80%;
    height: 0;
    padding-bottom: 80%;
    border-radius: 30%;
    position: relative;
}

.layer-flag-icon {
    position: absolute;
    width: 1.3rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.layer-btn:first-child {
    margin-top: 10%;
}

.material-symbols-outlined {
    color: var(--foreground);
}

#currency-bar {
    background-color: var(--card);
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.2rem;
    padding: 0.3rem;
}

.currency-count {
    background-color: var(--card2);
    width: 100%;
    height: 1.4rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: .8rem;
}

.flag-count-symbol {
    width: .5rem;
    margin-left: .8rem;
}

#energy-icon-count-symbol {
    font-size: 1rem;
    margin-left: .4rem;
    color: var(--foreground);
}

.flag-count-display {
    margin: 0;
    line-height: 0;
}

#username-container {
    background-color: var(--card);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#username {
    margin: 0rem;
    margin-left: 1rem;
    font-size: 1.2rem;
}

#profile-icon {
    margin-right: 1rem;
    font-size: 2.3rem;
}

#settings-container {
    background-color: var(--card);
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#settings-icon {
    font-size: 2.3rem;
}