html {
    height: 100%;
    font-family: 'JetBrains Mono';
}

body {
    margin: 0;
    min-height: 100vh;
    max-height: 100vh;
    height: 100%;
    user-select: none;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: var(--background);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

#title {
    line-height: 0;
    color: var(--foreground);
}

main {
    display: grid;
    grid-template-columns: 34fr 21fr 21fr 21fr 4fr;
    grid-template-rows: 1fr 10fr;
    flex: 1 1 auto;
    min-height: 0;
    margin: 1rem;
    gap: 1rem;
}

#flag-energy {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#flag-tab-top {
    width: calc(100% - 1rem);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#white-flag-count {
    line-height: 0;
}

#cooldown-bar {
    width: 75%;
    height: 0.5rem;
}


#flag-tab {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--card);
    border-radius: 1rem;
}

#overclock-btn {
    margin-bottom: 0.5rem;
}

#overclock-cooldown-bar {
    width: 80%;
    height: 0.5rem;
}

#overclock-cooldown-progress {
    border: none;
    background-color: green;
    height: 100%;
    width: 100%;
}

#energy-tab {
    height: 100%;
    background-color: var(--card);
    border-radius: 1rem;
}

.upgrade-tab {
    min-height: 0;
    overflow: auto;
    background-color: var(--card);
    border-radius: 1rem;
    scrollbar-width: none; 
}

.upgrade {
    height: 6rem;
    margin: .4rem;
}

#layer-tab {
    background-color: var(--card);
    border-radius: 1rem;
}

.material-symbols-outlined {
    color: var(--foreground);
}