:root {
  --background: #f9f9f9;
  --foreground: #333333;
  --card: #ffffff;
  --card-foreground: #333333;
  --popover: #ffffff;
  --popover-foreground: #333333;
  --primary: #4063e3;
  --primary-foreground: #ffffff;
  --secondary: #7edaed;
  --secondary-foreground: #333333;
  --muted: #b9aa9f;
  --muted-foreground: #6e6e6e;
  --accent: #85805d;
  --accent-foreground: #ffffff;
  --destructive: #ed2869;
  --destructive-foreground: #ffffff;
  --border: #d4d4d4;
  --input: #d4d4d4;
  --ring: #4063e3;
  --chart-1: #4063e3;
  --chart-2: #603d9c;
  --chart-3: #1c0075;
  --chart-4: #46b7e9;
  --chart-5: #3f96a2;
  --sidebar: #f9f9f9;
  --sidebar-foreground: #333333;
  --sidebar-primary: #4063e3;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #85805d;
  --sidebar-accent-foreground: #ffffff;
  --sidebar-border: #d4d4d4;
  --sidebar-ring: #4063e3;
  --font-sans: Montserrat, sans-serif;
  --font-serif: Playfair Display, serif;
  --font-mono: Source Code Pro, monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 5px;
  --shadow-blur: 10px;
  --shadow-spread: -2px;
  --shadow-opacity: 0.1;
  --shadow-color: #1a1a1a;
  --shadow-2xs: 0px 5px 10px -2px hsl(0 0% 10.1961% / 0.05);
  --shadow-xs: 0px 5px 10px -2px hsl(0 0% 10.1961% / 0.05);
  --shadow-sm: 0px 5px 10px -2px hsl(0 0% 10.1961% / 0.10), 0px 1px 2px -3px hsl(0 0% 10.1961% / 0.10);
  --shadow: 0px 5px 10px -2px hsl(0 0% 10.1961% / 0.10), 0px 1px 2px -3px hsl(0 0% 10.1961% / 0.10);
  --shadow-md: 0px 5px 10px -2px hsl(0 0% 10.1961% / 0.10), 0px 2px 4px -3px hsl(0 0% 10.1961% / 0.10);
  --shadow-lg: 0px 5px 10px -2px hsl(0 0% 10.1961% / 0.10), 0px 4px 6px -3px hsl(0 0% 10.1961% / 0.10);
  --shadow-xl: 0px 5px 10px -2px hsl(0 0% 10.1961% / 0.10), 0px 8px 10px -3px hsl(0 0% 10.1961% / 0.10);
  --shadow-2xl: 0px 5px 10px -2px hsl(0 0% 10.1961% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: #171d20;
  --foreground: #e5e5e5;
  --card: #2a3130;
  --card-foreground: #e5e5e5;
  --card2: #555762;
  --card2-1: #888b9c;
  --card2-1-selected: #aaafbd;
  --card3: #424456;
  --popover: #2a3130;
  --popover-foreground: #e5e5e5;
  --primary: #4063e3;
  --primary-foreground: #ffffff;
  --secondary: #1c0075;
  --secondary-foreground: #e5e5e5;
  --muted: #444444;
  --muted-foreground: #a3a3a3;
  --accent: #46b7e9;
  --accent-foreground: #e5e5e5;
  --destructive: #ed2869;
  --destructive-foreground: #ffffff;
  --border: #444444;
  --input: #444444;
  --ring: #4063e3;
  --chart-1: #4063e3;
  --chart-2: #603d9c;
  --chart-3: #1c0075;
  --chart-4: #46b7e9;
  --chart-5: #3f96a2;
  --sidebar: #171d20;
  --sidebar-foreground: #e5e5e5;
  --sidebar-primary: #4063e3;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #46b7e9;
  --sidebar-accent-foreground: #e5e5e5;
  --sidebar-border: #444444;
  --sidebar-ring: #4063e3;
  --font-sans: Montserrat, sans-serif;
  --font-serif: Playfair Display, serif;
  --font-mono: Source Code Pro, monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 5px;
  --shadow-blur: 10px;
  --shadow-spread: -2px;
  --shadow-opacity: 0.1;
  --shadow-color: #1a1a1a;
  --shadow-2xs: 0px 5px 10px -2px hsl(0 0% 10.1961% / 0.05);
  --shadow-xs: 0px 5px 10px -2px hsl(0 0% 10.1961% / 0.05);
  --shadow-sm: 0px 5px 10px -2px hsl(0 0% 10.1961% / 0.10), 0px 1px 2px -3px hsl(0 0% 10.1961% / 0.10);
  --shadow: 0px 5px 10px -2px hsl(0 0% 10.1961% / 0.10), 0px 1px 2px -3px hsl(0 0% 10.1961% / 0.10);
  --shadow-md: 0px 5px 10px -2px hsl(0 0% 10.1961% / 0.10), 0px 2px 4px -3px hsl(0 0% 10.1961% / 0.10);
  --shadow-lg: 0px 5px 10px -2px hsl(0 0% 10.1961% / 0.10), 0px 4px 6px -3px hsl(0 0% 10.1961% / 0.10);
  --shadow-xl: 0px 5px 10px -2px hsl(0 0% 10.1961% / 0.10), 0px 8px 10px -3px hsl(0 0% 10.1961% / 0.10);
  --shadow-2xl: 0px 5px 10px -2px hsl(0 0% 10.1961% / 0.25);

  --capture-progress: #3fd9ff;
  --upgrade-level-unfilled: #3c3507;
  --upgrade-level-filled: #c8b537;
  --energy-progress-unfilled: #154371;
  --energy-progress-filled: #2d91f5;
  --energy-progress-text: #88f1ff;
  --automation-progress-unfilled: #0d2f0d;
  --automation-progress-filled: #35d635;
  --automation-progress-text: #d0ff00;
  --insufficient-currency: #c92525;
  --cooldown-progress-ascending: #38ac38;
  --cooldown-progress-descending: #c92525;
}
